<div class="grid grid-rows-10 h-full w-full bg-white border border-r-slate-100 shadow-xl">
  <div class="flex row-span-1 justify-center items-center">
    <img class="h-2/3 w-2/4" src="assets/mobi-logo.png" alt="MOBI">
  </div>
  <div class="row-span-1"></div>
  <div class="row-span-8 flex flex-col items-center justify-between">
    <nav class="menu">
      <ul>
        <li *ngFor="let item of menuItems" class="py-auto" (click)="selectItem(item)">
          <material-icon
            [icon]="item.icon"
            [routerLink]="item.url"
            [text]="item.text"
            [isSelected]="item === selectedItem">
          </material-icon>
        </li>
        <div class="absolute bottom-0 flex items-center">
          <material-icon icon="logout" [routerLink]="'logout'" text="Logout"></material-icon>
        </div>
      </ul>
    </nav>
  </div>
</div>
<div>

